[2018-11-13 08:46] DeoLeung opened #1 "installing auto update other libraries"
when pip install this library, it auto update my other libraries, that may not be good

[2018-11-13 08:47] DeoLeung opened #2 "failed on sphinx 1.5.1"
better to support some older versions, on `1.5.1` it fails with
[code]

[2018-11-13 17:58] clayrisser commented on #2
Are you using python3 and installing with pip3?

[2018-11-13 18:01] clayrisser commented on #1
I suggest using a virtual environment.

[code]

[2018-11-14 20:21] clayrisser commented on #1
I directly embedded `doctree2md`. This may help with the install. At any rate, it cuts back on a lot of unused required dependencies. Update to version `0.1.0`.

[2018-11-14 20:22] clayrisser commented on #2
I directly embedded `doctree2md`. This will definitely fix this issue because now the `matplotlib` won't even be installed. At any rate, it cuts back on a lot of unused required dependencies. Update to version `0.1.0`.

[2018-11-16 05:32] DeoLeung commented on #2
yes I was using python3

[2018-11-16 10:03] codejamninja commented on #2
Can you try again with the newest version?

[2018-11-16 10:04] clayrisser commented on #2
Can you try again with the newest version of sphinx-markdown-builder?

[2018-11-29 11:45] mateusccoelho commented on #1
Hi, in a very limited environment (my case) I can't use virtual environments, so I had troubles installing the package due to dependencies versions. I had to manually change each entry in requirements.txt to the versions I already had installed so that neither dependencies would be installed not pip tried to auto update them. It turns out that it worked.

So, I suggest you to figure out what are t

[2018-11-29 11:51] mateusccoelho opened #3 "Desc element not yet supported in Markdown."
I tried to generate docs using this package but it showed 3 warnings: 'The desc element not yet supported in Markdown'. Three files should present a lot of docs but only has titles.

[2018-11-29 22:26] clayrisser opened #4 "Missing Markdown Features"
I'm using Matthew Brett's [doctree2md](https://github.com/matthew-brett/nb2plots/blob/master/nb2plots/doctree2md.py) to actually do the conversion.

His markdown writer is a great start, but certainly not complete.

In this issue, please list any markdown features that are broken, missing, or incomplete.

If the community would star the features they most want, that will help me prioritize which o

[2018-11-29 22:26] clayrisser commented on #3
Could you document which markdown features aren't working? I'm using Matthew Brett's [doctree2md](https://github.com/matthew-brett/nb2plots/blob/master/nb2plots/doctree2md.py) to actually do the conversion.

His markdown writer is a great start, but certainly not complete. I have patched some of his incorrect and incomplete transpiler visitors in the [markdown_writer.py](https://github.com/codejam

[2018-11-29 22:29] clayrisser commented on #1
Ok, thanks for letting me know about this. I don't know when I will get around to this. Would you mind letting me know the versions you are using, to help jumpstart the process?

Better yet, you could go through and test the lowest versions yourself and then do a pull request.

[2018-12-06 00:33] #3 closed

[2018-12-06 00:34] #2 closed

[2018-12-11 21:09] eode commented on #1
This also pins Sphinx at 1.8.1 (1.8.2 is out -- perhaps `Sphinx>=1.8` or similar might be good)

[2018-12-11 21:48] eode opened #5 "No output from automodule:: directive"
* Module is loaded and parsed correctly (make html works)
* no markdown is rendered for the 'automodule' section.

#### Sphinx output:
[code]

#### index.rst
[code]

#### index.md
[code]

..let me know if you can use some more info.

[2018-12-12 11:19] clayrisser commented on #5
This plugin has no control over how things are loaded, so make sure it's not an issue with your loader. If you are confident there are no issues with your loader, then try and determine what the markdown output should be. You can base this on the html output.

This will help pinpoint which markdown feature is missing from the plugin. There are many markdown features missing as stated in the follow

[2018-12-12 11:20] clayrisser commented on #1
Thanks, @eode, I'll take a look when I get around to it. Feel free to submit a pull request.

[2018-12-12 19:11] eode commented on #5
I understand that that the 'desc element not supported' is a separate issue, I was just including it as it was the only thing that seemed even remotely amiss in the on-screen output.  ..so, to be clear, I'm not trying (with this issue) to get that to work.

..well, unless getting that warning means that all other markdown in the same module isn't rendered, which would explain the missing content.

[2018-12-12 19:43] eode commented on #1
PR #6 permits libraries to be upgraded.  This does not fix the issue that @DeoLeung created, but it fixes my related issue.

To fix the original issue, the following would be needed:
* test coverage for expected feature functionality
* discovering which lower versions of selected libraries work
  * This probably requires bumping versions down, testing, bumping down, testing [...], but could be

[2018-12-12 20:05] eode commented on #5
Note:  Now using `'sphinx.ext.napoleon`'.  No change.

[2018-12-13 14:31] clayrisser commented on #5
I can't fix it without knowing what the doctree output for that directive is supposed to be.

[2018-12-13 14:32] clayrisser commented on #1
Ok cool, thanks for the pr

[2018-12-16 22:26] robertaird commented on #5
I'm having this same issue, except with the autofunction:: directive. Also seeing "The desc element not yet supported in Markdown." warning.

**request.rst**
[code]

**request.js**
[code]

**request.md**
[code]

I expect request.md to also contain my request function description, list of params, and description of the return value, something like this:
[code]

make html works.

[2018-12-17 16:29] eode commented on #5
I have some work on this if you're interested -- however, I'm using Napoleon, and the mix of google docstrings style and ReStructredText was pretty awkward to deal with -- however, a significant chunk of what's needed has been created, and I can do a PR to a branch if you'd like to work on it further.  In the end, it was easier and cleaner to adapt 'pydoc-markdown' to do what we wanted.

[2018-12-18 00:21] clayrisser commented on #5
Absolutely, I'd love to see what you've done. Submit a pull request to the dev branch so I can play with it, without breaking the code.

[2018-12-19 20:23] utf commented on #4
Thanks for developing this, I've been looking for a project like this for a long time.

The markdown features that I would be most interest in are, "topic",  "option_list", "raw" and "desc".

[2018-12-19 20:30] utf commented on #5
I also am seeing this issue. The doctrees produced by Sphinx are pickled. What is the best way of getting the doctree to you?

I can generate the XML or send you pickled files?

[2018-12-20 02:08] clayrisser commented on #5
Could you send both of them to me? Upload them to a file sharing service (like google drive) and post the link here.

[2018-12-20 17:37] utf commented on #5
I made a repo with a minimal working example. This has the source code used to generate the docs, the doctrees, and the built html and markdown.

https://github.com/utf/sphinx-automodule-example

I also converted the index.doctree to XML.

[2018-12-21 19:43] ghost commented on #5
I'm also having this issue. html works fine, but I get nothing but a title with markdown.

[2018-12-30 23:29] manneohrstrom commented on #5
Heads up that i have an experimental branch going here to better support common sphinx directives - including auto-doc stuff: https://github.com/manneohrstrom/sphinx-markdown-builder

Once cleaned up a bit, i'll submit a PR.

[2019-01-25 12:34] clayrisser commented on #4
I just added support for markdown tables created from https://pypi.org/project/sphinx-markdown-tables

[2019-01-25 12:34] clayrisser commented on #4
I just added support for inline html

[2019-02-05 01:10] codejamninja opened #7 "Add table support"
I have already implemented table support, but I'm am not sure how well it works across different setups. Feedback would be much appreciated.

I am keeping track of where I am in the table to hopefully make it easy to add support for nested tables in the future. Keeping track of where you are is a simple pop/push operation. Push (append) the current node to the node type array when the node is ente

[2019-02-05 01:11] clayrisser commented on #5
Hey, @manneohrstrom, thanks for your work. I kinda couldn't wait and pulled in some of your experimental code. 😬 Anyone who wants these latest changes, update to version `0.4.0`.

I kinda redid your entire implementation of tables. I'm concerned that your implementation will not support nested tables. My implementation has not been tested with nested tables, but I am keeping track of my depth whic

[2019-02-05 01:12] clayrisser commented on #5
@eode
@robertaird
@utf
@theobarnhart-USGS
@manneohrstrom

Can you test how the tables and directives are working in your systems? I'm sure we are all using very different setups, and if you submit the issues you are having, we can build a more robust markdown builder.

[2019-02-05 01:23] clayrisser opened #8 "Add reference counting to all nodes"
During my implementation of tables, I found it quite handy to add reference counting support through node arrays.

Instead of reference counting with integers, I am using arrays of nodes.

This solved two major challenges.

1. Knowing where I am in nested nodes of the same type
2. Finding information from nodes outside of the current node

You can see a simple implementation of this with tables.

[2019-02-05 01:34] clayrisser opened #9 "Deprecate doctree2md.py"
I think I would like to eventually deprecate `doctree2md.py`. Below are a few reasons for this thought.

* doctree2md.py was never fully finished (there are major features missing)
* doctree2md.py was never built with sphinx in mind
* doctree2md.py is a great reference, but I think the developers of sphinx-markdown-builder are getting a good grasp on how sphinx builders work
* I used doctree2md.py

[2019-02-05 01:34] clayrisser commented on #8
To fully implement reference counting across all nodes, the `doctree2md.py` would eventually need to be fully deprecated. I think this is reasonable, as I am getting a decent grasp on how sphinx/docutils builders work.

Please referecne the issue below on deprecating `doctree2md.py`.
#9

[2019-02-05 01:38] clayrisser commented on #5
If ya'll could go through the issues I just files, that would be great.

[2019-02-05 11:40] manneohrstrom commented on #5
@codejamninja Awesome! Sorry about the delay - work priorities came in between. I think i'll be picking this back up again in a month or two and will have time to do a more proper job! We also have extensive test cases I can run it against at that point.

[2019-02-07 19:10] ghost commented on #5
I just upgraded my sphinx_markdown_builder using `pip install --upgrade sphinx_markdown_builder` and ran `make markdown`
It kind of ran and produced the following. An index.md file was produced and looks pretty good, but the links to the other modules don't work. I understand that some of these warning are due to poorly written docstrings on my part. Working on that...
[code]
The mentioned log fil

[2019-02-07 19:31] clayrisser commented on #5
Thanks so much for the bug report. This is very helpful. If you wouldn't mind, could you create a repo that reproduces this and then send me the link?

[2019-02-07 19:32] clayrisser commented on #5
@theobarnhart-USGS could you also file a new issue for this?

[2019-02-19 22:04] Lightslayer opened #10 "pydash not installed with version 0.4.0"
`pydash` package not installed when using pip for version `sphinx-markdown-builder==0.4.0` from PyPI

[2019-02-19 22:08] Lightslayer opened #11 "Pop from empty list"
Getting following exception whilst running `make markdown` on `sphinx-markdown-builder==0.4.0`:

[code]

Currently my hack is to change line 312 to: `None if not self.rows else self.rows.pop()`

[2019-02-19 22:58] Liam-Deacon commented on #7
Hi @codejamninja - I have tried generating a markdown table from a rst file and all I get is rows beginning with a single `|` and no other content. I forked the automodule example from utf for #5 and added an example ReST table to `index.rst` at https://github.com/Lightslayer/sphinx-automodule-example.

For example the following table:

[code]

Becomes simply the following in the markdown build ou

[2019-02-19 23:03] Liam-Deacon commented on #4
I've got warnings over the following elements not being supported yet in markdown (almost certainly related to #5 with napoleon): "classifier", "seealso", "citation", "autosummary_toc", as well as "caption".

[2019-02-21 07:17] clayrisser commented on #4
Thanks @Lightslayer, I'll try and look into this sometime this week.

[2019-02-21 07:18] clayrisser commented on #7
Cool, could you send me a link to a repo that reproduces this issue? I'd love to try and fix it.

[2019-02-21 07:21] clayrisser commented on #10
This has been fixed with pull request #12.

[2019-02-21 07:21] #10 closed

[2019-02-21 07:23] clayrisser commented on #11
Please update to `v0.4.1`

[2019-02-21 07:23] #11 closed

[2019-02-21 07:24] clayrisser commented on #10
Please update to `v0.4.1`

[2019-02-21 07:24] clayrisser commented on #11
This has been fixed with pull request #12

[2019-02-21 07:25] clayrisser commented on #5
@theobarnhart-USGS, your issue has been fixed with pull request #12

Please update to `v0.4.1`

[2019-02-24 07:53] Liam-Deacon commented on #7
Hi @codejamninja - I forked UTF's automodule example and added an example table to index.rst as part of commit [f99e2fd](https://github.com/Lightslayer/sphinx-automodule-example/commit/f99e2fd1e98be9a5439145ee888ce595542862dc) in https://github.com/Lightslayer/sphinx-automodule-example.

Essentially I ran the following:

[code]

My setup is as follows:

[code]

Any help in resolving this would be

[2019-03-08 17:50] Lightslayer opened #13 "Preserve language domain when converting language blocks"
Markdown conversion does not preserve restructuredtext code blocks such as:

[code]

And render it in markdown as (without the spaces I've used as escape characters for the backticks):

[code]

[2019-03-08 22:15] clayrisser commented on #13
Can you create an example repo and send it to me to test?

[2019-03-09 07:18] Liam-Deacon opened #14 "Feature Request: Add option to preserve TOC tree order"
It would be great if there was an option to allow the generated markdown files to be prefixed with their TOC numbering (which would work on most sites)

[2019-03-09 07:26] Liam-Deacon opened #15 "Feature Request: Add support for plot directive"
Another great feature would be to allow use of the [matplotlib plot directive](https://matplotlib.org/devel/plot_directive.html), for example:

[code]

[2019-03-09 07:33] Liam-Deacon opened #16 "Feature Request: Add support for graphviz directive"
Another great feature would be inclusion of graphs given by the [graphviz directive](https://www.sphinx-doc.org/en/master/usage/extensions/graphviz.html) for example:

[code]

[2019-03-09 09:49] Liam-Deacon commented on #16
Please note I've setup an example within https://github.com/Lightslayer/sphinx-automodule-example under `docs/source/graphviz.rst`

[2019-03-09 09:52] Liam-Deacon commented on #14
Please note I've setup an example within https://github.com/Lightslayer/sphinx-automodule-example with multiple restructured text files referenced in index.rst

[2019-03-09 09:53] Liam-Deacon commented on #15
Please note I've setup an example within https://github.com/Lightslayer/sphinx-automodule-example under `docs/source/plot.rst`

[2019-03-09 09:55] Liam-Deacon commented on #13
Hi @codejamninja - I've setup an example within https://github.com/Lightslayer/sphinx-automodule-example under `docs/source/codeblocks.rst`

For reference this is what I get as markdown output (note I've manually delimited the backticks with spaces here so that it would render better inside this comment's markdown block):

[code]

[2019-03-09 11:21] Liam-Deacon opened #17 "Feature Request: Add support for todo directive"
Another great feature would be inclusion of graphs given by the [todo directive](http://www.sphinx-doc.org/en/master/usage/extensions/todo.html) for example:

[code]

Please note I've setup an example within https://github.com/Lightslayer/sphinx-automodule-example under `docs/source/todo.rst`

[2019-03-09 11:40] Liam-Deacon opened #18 "Incorrect output when image directive has :target: set"
Images with targets (hyperlinks) are incorrectly converted as hyperlinks and loose the image, e.g.

[code]

Becomes the following in the markdown output:

[code]

I've setup an example within https://github.com/Lightslayer/sphinx-automodule-example under the latest `docs/source/other.rst`.

[2019-03-09 11:53] Liam-Deacon commented on #7
Just a quick update from me - I've updated the example project above and have relocated the table example to `docs/source/other.rst`. I'm struggling to get my head around the implementation and how the nodes work, but I find that changing the pipe symbols and adding some prints to `markdown_writer.py` has helped:

[code]

This gives me the following output:

[code]

@codejamninja - do you have any

[2019-03-09 20:00] clayrisser commented on #18
@Lightslayer, thanks for all the bug reports you filed. This will be extremely helpful to me. It might be a few weeks before I get them knocked out.

[2019-05-08 17:51] ahalota opened #19 "master file ..\docs\contents.rst not found"
I have sphinx-build 1.8.3.

From what I've been following, I only need an index.rst file initially. When I try to run make markdown, it's looking for a file .\docs\contents.rst , which by default I don't have.

I assume this might be configured to work with an older version of sphinx that included a contents.rst by default?

I created a contents.rst file and put some dummy content in, and then it

[2019-05-08 18:08] ahalota opened #20 "toctree is not preserved with links"
toctree outputs a list, but to stay in the same style as html build it should really include links to the appropriate md file.

[2019-05-10 00:04] clayrisser commented on #20
Could you setup an example and put a link to it here with some minimal instructions on how to test it?

[2019-05-10 00:04] clayrisser commented on #19
Could you send me an example?

[2019-05-19 17:56] Peilonrayz opened #21 "Literal node isn't kept in links."
If you setup [`sphinx.ext.intersphinx`](http://www.sphinx-doc.org/en/master/usage/extensions/intersphinx.html#module-sphinx.ext.intersphinx) and add a link it results in [abc], instead of [\`abc\`].

Using the mapping:
[code]

And the following reST:
[code]

Results in the following Markdown
[code]

It should be:
[code]

---

I followed the [hello world extension](http://www.sphinx-doc.org/en/mast

[2019-05-30 03:29] software-opal opened #22 "Use version ranges instead of pinning exact versions"
I'm trying to use your library on Python 3 and with Sphinx 2.0.1, and I have noticed that your package pins every package it depends on, this makes it very difficult to use new Sphinx versions.

[2019-06-25 20:26] Peilonrayz opened #25 "Literalinclude has too many newlines."
When using `literalinclude` to include a file, each newline is displayed twice. This is as the newlines lines are set to be `\r\n`. The file is actually using `\n` so somewhere in Sphinx/docutils it's adding these.

MVCE:

[code]

---

The fix is to just change [`doctree2md.py`#425](https://github.com/codejamninja/sphinx-markdown-builder/blob/a142416ed2fa869940d3503913d91d6c4ec09fb0/sphinx_markdow

[2019-06-26 09:30] pauleikis commented on #22
Same issue, cannot use library because it's requirements are too strict

[2019-06-27 10:54] clayrisser commented on #22
I am sorry about that. I built the `requirements.txt` file by running `pip3 freeze > requirements.txt`.

@software-opal would you be interested in removing the packages it does not depend on and submitting it as a pull request?

[2019-06-27 10:55] #21 closed

[2019-06-27 10:55] #25 closed

[2019-06-27 13:42] clayrisser commented on #22
This should be fixed with version `0.5.0`.

[2019-06-27 13:42] #22 closed

[2019-06-27 14:35] Peilonrayz commented on #19
I ran into this the first time I followed the [Sphinx getting started tutorial](http://www.sphinx-doc.org/en/stable/usage/quickstart.html). I noticed that `sphinx-quickstart` made a `index.rst` but in the `conf.py` it had `master_doc = 'contents'`.

Renaming either fixed this for me.

[2019-06-27 14:47] clayrisser commented on #19
That doesn't seem like an issue coming from this plugin.

[2019-06-27 14:50] Peilonrayz commented on #19
Yeah, for me it wasn't a problem with this plugin. However IDK if it's the same problem for ahalota.

[2019-06-27 15:08] Peilonrayz opened #27 "Add option to change markdown delimiters."
Whilst it's common for `math` to use the `$` delimiter, on Code Review it is specified by `\$`.

Can the ability to change the delimiters be made available in `conf.py`?

This would require changing [doctree2md.py#L484](https://github.com/codejamninja/sphinx-markdown-builder/blob/6359cee6c21b9585cef429f668fa64d70e8e3c28/sphinx_markdown_builder/doctree2md.py#L484), but I don't know how to get data

[2019-07-11 23:57] jonathan-taylor opened #30 "custom node support"

[2019-07-11 23:59] jonathan-taylor commented on #30
Using the markdown builder it seems that translation handlers for new nodes is not working quite correctly. I have a minimal example in which the latex and HTML builders find the correct visit_* and depart_* calls but markdown does not resulting in a call to "unknown_visit".

[2019-07-12 07:49] clayrisser commented on #30
Can you send me the example?

[2019-07-13 04:36] jonathan-taylor commented on #30
Sure, here's the example and the built code I get for latex,html,markdown.

[build.tar.gz](https://github.com/codejamninja/sphinx-markdown-builder/files/3388447/build.tar.gz)
[minimal_sphinx.tar.gz](https://github.com/codejamninja/sphinx-markdown-builder/files/3388446/minimal_sphinx.tar.gz)

Using this commit:

commit 28187519a81ae9d902dc3d1e4f62083d18d60b25
Author: Jam Risser <jam@codejam.ninja>

[2019-07-13 04:40] jonathan-taylor commented on #30
One small change to myrole.py to try to set translaters using `add_node` with a markdown keyword.

Using verbose option with sphinx-build you can see that sphinx tries to add the translation handlers for all builders, they just don't seem to be set correctly for the markdown builder, i.e. "unknown_visit" is called on the Translator.

[2019-08-01 20:28] #1 closed

[2019-08-23 05:06] shivshankar3578 opened #31 "ModuleNotFoundError: No module named 'sphinx_markdown_parser'"
as per readme.md  i installed sphinx_markdown_parser and sphinx-markdown-builder both, but still facing error
[code]
Although I'm still able to navigate to MarkdownParser function from
[code]
#### update
Tried with code example but still facing same issue

I'm a newbie in python, help me, please

[2019-08-27 17:25] bennymeg opened #32 "Documetation outdated"
Is it possible that the documentation needed to be updated? i.e:
`from sphinx_markdown_builder.markdown_builder import MarkdownBuilder`

`def setup(app):`
`app.add_source_suffix('.md', 'markdown')`
`app.add_source_parser(MarkdownBuilder)`

Also, the python support badge doesn't match the setup file classifiers.

[2019-08-27 17:58] bennymeg opened #33 "update requirements file"
Is it possible to remove the strict version matching for the required packages in favor of the _greater then equals_ sign (`>=`) ?

The package fails on newer versions of _sphinx_ (i.e. 2.2.0) which also installs newer version of _docutils_ (0.15.x).

[2019-08-27 19:01] clayrisser commented on #33
Sure thing. I'll get around to it as soon as I can. If you want, you can create a pull request and I will merge it in.

[2019-08-27 19:05] clayrisser commented on #32
Thanks for the feedback

[2019-09-08 06:19] clayrisser commented on #31
@shivshankar3578 could you send me a link to your project setup?

[2019-09-08 06:25] #19 closed

[2019-09-10 10:34] clayrisser commented on #7
Tables should be working now

[2019-09-10 10:34] #7 closed

[2019-09-10 10:34] clayrisser commented on #33
This should be fixed now

[2019-09-10 10:34] #33 closed

[2019-09-10 10:35] clayrisser commented on #32
Docs are updated

[2019-09-10 10:35] #32 closed

[2019-09-10 10:35] clayrisser commented on #31
This should be fixed now

[2019-09-10 10:35] #31 closed

[2019-09-11 07:11] Liam-Deacon commented on #7
Hi @codejamninja - this is excellent news, good work! I'll try out tables support once I get a free moment :-)

[2019-10-01 10:55] matt-everett opened #36 "AttributeError: type object 'MarkdownBuilder' has no attribute 'supported'"
Hi, I'm running into a problem when I try to run this package.

I copied the conf.py example for sphinx 1.8 (I'm using 2.2) but needed to edit the example code as is seems a little out of date, it references a sphinx_markdown_parser module.

I'm running from tox with this command: -
```tox sphinx-build -M markdown containers/source {env:DOC_OUTPUT_FOLDER:'build'}/containersmd```

**Error**
[code]

[2019-10-01 10:56] matt-everett commented on #36
Please let me know if you need any other information about my setup to help diagnose this.

[2019-10-01 17:08] clayrisser commented on #36
Can you send me a link to the code where this fails and tell me how to reproduce it?

[2019-10-17 09:26] matt-everett commented on #36
@codejamninja, thanks for your response. Currently the code is deeply entrenched in a big proprietary codebase :( I'm going to try to put together a demo of the problem in a smaller package to make it possible to share. I'll hopefully get some time to work on it soon!

[2019-10-17 11:33] clayrisser commented on #36
Ok sounds great. Thanks

[2019-10-22 08:17] SwampFalc commented on #36
Same error, except with different versions:

[code]

And the code from my conf.py where it starts:

[code]

[2019-10-22 12:23] SwampFalc commented on #36
Small follow-up, I went into the sphinx source:

[code]

Clearly the parser API has changed (recently?). Unfortunately, their own error catching is failing a bit...

[2019-10-23 05:38] clayrisser commented on #36
Any ideas for a fix?

[2019-10-23 07:43] SwampFalc commented on #36
Actually, yes. Why do you even have this code on the front page? I mean, all of that is to register a markdown parser, ie. to read markdown source files. And the point of this project is to build markdown output, no?

I removed all of that from my conf.py, ran "make markdown" and got the .md files I wanted as output...

[2019-10-23 08:16] clayrisser commented on #36
Can you paste in the chat the "front page" code you are referring to?

[2019-10-23 08:17] clayrisser commented on #36
The documentation definitely can use improvement.

[2019-10-23 15:05] SwampFalc commented on #36
https://github.com/codejamninja/sphinx-markdown-builder

The first 3/4s of the "Usage" section, up until the line "Build markdown files with Makefile"

[2019-10-24 07:02] clayrisser commented on #36
Ok, thanks. I'll improve that.

[2019-10-25 16:23] matt-everett commented on #36
I've just tried @SwampFalc's advice (make markdown) and it does indeed build the output I want ... thanks very much!

It didn't convert the tables quite correctly but I'll raise a separate issue for that :)

@codejamninja do you still think this issue is relevant? It sounds like the docs need updating, but is the parser scenario relevant to your project if it's already producing markdown output? W

[2019-10-25 18:42] clayrisser commented on #36
For now keep tracking it until I can look into deeper. I'm glad you were able to make it work.

[2019-11-08 04:21] ethantang95 commented on #36
I can confirm this issue still exists with `sphinx-build -M markdown <source dir> <output dir>`. For my case, I cannot use `make markdown` because I need to call upon the sphinx module through python.

I have tested on both sphinx 2.0.0 and 1.8.0. Neither works and fails with the same issue that is stated by @matt-everett and @SwampFalc.

Is there any updates on fixing this issue?

Thank you

[2019-11-12 06:41] clayrisser commented on #36
I'm really busy. I will try to get to it before the holidays. If you want to did into it feel free to. I just pinned this issue so I don't forget about it.

[2019-11-12 12:06] SwampFalc commented on #36
The solution is to remove everything you added to your conf.py. None of it
is needed for the correct operation of this module, it's a leftover from
another module ( that I assume was forked to start this).

On Fri, Nov 8, 2019, 05:21 Ethan Tang <notifications@github.com> wrote:

[2019-11-13 19:36] clayrisser commented on #36
Thanks @SwampFalc

I’ll clean up the `conf.py` file

[2019-12-22 14:23] lematt1991 opened #40 "README typo?"
I'm a bit confused about the "Usage" section of the README:

[code]

Should this be `from sphinx_markdown_builder.markdown_build import MarkdownBuilder`  instead of `from sphinx_markdown_parser.markdown_builder import MarkdownBuilder`.  Also I think `app.add_source_parser(MarkdownParser)` should be `app.add_source_parser(MarkdownBuilder)`, otherwise, where is `MarkdownParser` imported from/defined

[2019-12-23 16:59] clayrisser commented on #40
Yes, that is correct. I copied the config from [sphinx-markdown-parser](https://github.com/codejamninja/sphinx-markdown-parser) and somehow missed changing that part of the config.

[2019-12-27 15:01] lematt1991 commented on #40
Resolved by 990394035614072dd89a18a80273f7f9839f87be

[2019-12-27 15:01] #40 closed

[2020-03-27 16:56] duffau commented on #13
I have encountered the same issue when setting the language in literal blocks.

In `doctree2md.py` about line 492 in the `visit_literal_block` method i can see a check for
an attribute called 'force_highlighting':

[code]

In my understanding the from the  [sphinx code-block directive docs](https://www.sphinx-doc.org/en/master/usage/restructuredtext/directives.html#directive-code-block) the option

[2020-03-28 15:54] #13 closed

[2020-03-28 15:56] clayrisser commented on #13
Thanks @duffau

[2020-05-20 08:44] danielloader commented on #4
Hey, great tool, started using it recently.

My suggestion would be:  WARNING: The [autosummary_toc](http://code.nabla.net/doc/sphinx/api/sphinx/ext/autosummary/sphinx.ext.autosummary.autosummary_toc.html) element not yet supported in Markdown.

Example output:
![image](https://user-images.githubusercontent.com/933423/82425730-d8147e80-9a7e-11ea-89bc-4aa05d9ccf34.png)

Compared to the RTD renderin

[2020-05-20 18:56] clayrisser commented on #4
@danielloader thanks for this information. Also contributions are most welcome.

[2020-08-05 10:25] Tilix4 opened #47 "Directive 'figure' is not supported"
As a figure works as an image, could it be possible to support the `.. figure::` directive?

[2020-08-05 10:26] Tilix4 opened #48 "Is there a way to support custom directives?"
It'd be very nice to be able to translate custom directives, like a `.. video::` one I've created for my doc.

[2020-08-06 05:16] codejamninja commented on #48
@Tilix4 I agree that would be great. We would need to implement a transformer similar to recommonmarks AutoStructify transformer.

https://github.com/readthedocs/recommonmark/blob/master/recommonmark/transform.py

[2020-08-06 05:18] clayrisser commented on #48
@Tilix4 could you give a more detailed example of what you are referring to?

[2020-08-06 05:19] clayrisser commented on #47
Could you put some links here explaining the figure directive. I'm not very familiar with it and I think the example would be helpful for this thread.

[2020-08-06 07:55] Tilix4 commented on #48
Hi @codejamninja , something like https://github.com/ankita240796/docs/blob/f57ebfbb3dc82b256334efbf6a697ef612b36890/video.py

This allows you to set a:

[code]

As we create html content with directives, it could be nice that your builder takes directly the raw html content to insert it in MD ouput (AFAIK it's fully supported) before designing a custom export.

[2020-08-06 07:57] Tilix4 commented on #47
The figure directive is native in docutils so I think it'll be easy: https://docutils.sourceforge.io/docs/ref/rst/directives.html#id36

I think it could be considered as a regular image in the MD output.

[2020-08-06 18:23] clayrisser commented on #47
@Tilix4 want to take a stab at it. The code that renders the document is in this file.

https://github.com/codejamninja/sphinx-markdown-builder/blob/master/sphinx_markdown_builder/markdown_writer.py

[2020-08-06 18:24] clayrisser commented on #48
Want to take a stab at it? The code to build it up is in this file.

https://github.com/codejamninja/sphinx-markdown-builder/blob/master/sphinx_markdown_builder/markdown_writer.py

[2020-08-11 11:23] Tilix4 commented on #48
I'll look into it, do you have any idea about the name of the function to handle any directive?

`visit_directive()` ?

[2020-08-11 19:48] clayrisser commented on #48
I do not. I have not worked with custom directives.

[2020-08-16 17:56] yves-chevallier opened #49 "Missing plenty of nodes (notes, admonitions, labels, code-block, hlist, centered, glossary...)"
I have written a small `rst` snippet to see what *sphinx-markdown-builder* has in its guts. I am currently not quite impressed, but I feel this project deserves some interest and some contribution.

My intimate goal is to use this extension (or another) with Vuepress to generate a real SPA static site from a rST documentation. I am planning to write a custom builder/writer to support Markdown+HTML

[2020-08-16 22:53] clayrisser commented on #49
I really appreciate this. That was my original goal when I started this.

[2020-08-16 22:58] clayrisser commented on #49
Speaking of this, I’ve been working on a tool to create documentation pipelines to make it easy to move documentation through a pipeline. For example...

docs -> sphinx -> pandoc -> gatsby

https://github.com/codejamninja/pipedoc

[2020-08-16 22:58] clayrisser commented on #49
https://github.com/codejamninja/pipedoc/blob/master/example/.pipedocrc

[2020-09-03 11:18] FabianNiehaus commented on #20
I have created an MWE to reproduce this: https://github.com/FabianNiehaus/sphinx-markdown-builder-toctree-test

[2020-09-15 17:04] ocayrol commented on #48
I've just proposed a PR that will allow the addition of custom functions for transforming your custom nodes when you define your extension. I don't know if it will solve all the problems described in this issue but, in my opinion, it is a first step.

[2020-09-15 20:43] #48 closed

[2020-09-15 20:44] clayrisser commented on #48
I just accepted the merge request. I'll release a new version this week.

[2020-09-15 21:18] Tilix4 commented on #48
That seems nice but I don't really get all the possibilities? Will you provide some code examples?

[2020-09-16 07:14] ocayrol commented on #48
You can have a look at https://www.sphinx-doc.org/en/master/development/tutorials/todo.html to see a little example.
The link you posted above ( https://github.com/ankita240796/docs/blob/f57ebfbb3dc82b256334efbf6a697ef612b36890/video.py ) is another example.

Inside a Sphinx extension, you define a new directive that will create a new type of node inside the document tree. Thus, you also define a

[2021-01-05 22:22] pmatulis commented on #4
Support is missing for referencing a document with these elements:

[code]

[code]

[2021-01-08 01:43] clayrisser commented on #4
@pmatulis thanks for documenting this. I do not have time to add support for that at this moment, but a pull request is welcome.

[2021-01-11 18:34] pmatulis commented on #20
I observed this today. When will this change be available?

[2021-01-12 19:17] clayrisser commented on #20
I’ll roll a new release tomorrow.

[2021-01-13 02:51] pmatulis opened #52 "Tables are not supported"
Tables (grid-like or list-table) in reST become mangled in Markdown.

[2021-01-13 05:03] clayrisser commented on #52
Ok, thanks for reporting this. Could you create an example of this?

[2021-01-13 15:36] TizianGit commented on #52
I have the same issue. I added an example of how a table is converted for me:
**sphinx:**
[code]
**markdown:**

[code]

[2021-01-14 01:06] pmatulis commented on #52
**sphinx:**

[code]

**markdown:**

[code]

[2021-01-15 00:37] clayrisser commented on #52
Thanks. I don't have time to work on this right now, but pull requests are welcome.

[2021-01-20 22:41] pmatulis opened #53 "Misalignment of elements for nested lists"
Misalignment of elements for nested lists are present in the Markdown output. What part of the code handles this?

### Input:

[code]

### Current output:

[code]

### Desired output:

[code]

      text
[code]

[2021-04-30 20:50] alexfreyre opened #54 "Several errors building to markdown Godot-Engine manual"
Hi! This project is amazing. :smiley:  I'm looking forward to build all manuals I need to markdown to read them and consult them within [Obsidian](https://obsidian.md/), but I'm having some issues :disappointed:

---

I want to build to markdown this project:
- **source project files**  https://github.com/godotengine/godot-docs/tree/3.3

This is an example file from source:
- **source rst** [class

[2021-05-01 00:19] clayrisser commented on #54
I think they are bugs. I’m not very actively working on this project at the moment, but I am accepting pull requests.

[2021-08-02 06:01] kingspp commented on #20
@clayrisser Any updates on this issue? No use in hosting the documentation on git due to missing links.

[2021-12-21 03:52] SilverRainZ commented on #52
@clayrisser Fixed in #57.

[2022-01-03 15:39] bomany commented on #20
@clayrisser No updates on this yet?

[2022-01-08 15:31] clayrisser commented on #20
I just released version `0.5.5`

[2022-02-16 09:22] SilverRainZ opened #59 "Apply to be Co-Maintainer of sphinx-markdown-builder"
I had sent mail to you but get no response, so I file issue here :)

---

Hello clayrisser,

I am a power Sphinx user[1] and I wrote many Sphinxextensions[2].

sphinx-markdown-builder is a awesome project, but it has some BUGs.
I filed a PR[3] to fix one of theme, I hope it can be merged.
But it seems that you are no longer active on this project. Contribute is
always better than fork, can I apply

[2022-02-17 04:49] jenstroeger commented on #59
Thanks @SilverRainZ for your issue, I was wondering myself if this project is still active! @clayrisser, if you could please shed some light at the current status and future plans, that’d be helpful…

[2022-02-19 23:51] vberlier opened #60 "Filter out yapf from install_requires in setup.py"
Right now installing the package will also install `yapf`. I believe this is not intended as it's only used for development.

[2022-03-30 19:43] odoublewen commented on #59
@clayrisser  +1 for the work on this sphinx extension.

If you don't have time to maintain it (very understandable), then +100 if you would kindly open it up to co-maintainers!

A logical place for this repo to live would be under https://github.com/sphinx-contrib

I encourage you to consider moving it there and accepting co-maintainers.

[2022-03-30 19:57] odoublewen commented on #9
Yes, please remove.  At this point, it's confusing to have it in the source code.

[2022-03-30 20:00] jenstroeger commented on #59
@odoublewen please take a look at [sphinx-notes/markdown-builder](https://github.com/sphinx-notes/markdown-builder) and if you’d like to join ping @SilverRainZ.

[2022-03-30 20:11] odoublewen commented on #59
Thank you @jenstroeger, good to know.

It would still be great to get @clayrisser to coordinate/cooperate on this.  (e.g. to be able to publish updated versions to the same pypi namespace.)

Ideally, instead of forking, THIS repo would be opened up to additional maintainer(s), or transferred to another org (sphinx-notes would be fine, though sphinx-contrib is a more natural home.)  That way we kee

[2022-04-03 01:41] nedbat opened #61 "Lists have too much blank space"
This .rst:
[code]

is output as:
[code]

When rendered, this puts too much space between the list items.

It renders on GitHub like this:
<img width="340" alt="image" src="https://user-images.githubusercontent.com/23789/161407580-a029af8c-19b0-4a3c-86bd-167161b07de6.png">

If the markdown instead were this:
[code]

then it would render as:
<img width="407" alt="image" src="https://user-images.gith

[2022-04-03 13:43] nedbat commented on #61
This is fixed by #57.  Can we get a new release?

[2022-04-04 09:31] SilverRainZ commented on #59
@clayrisser Kindly ping :)